<h1>Resultados de <small>{{ termino }}</small></h1>
<hr>

<div class="row animated fadeIn fast" *ngIf="heroes.length == 0">
  <div class="col-md-12">
    <div class="alert alert-warning" role="alert">
      No existen resultados para la búsqueda del término: {{ termino }}
    </div>
  </div>
</div>

<div class="card-columns">

  <!-- [heroe] es el nombre de la propiedad en heroe-tarjeta.component -->
  <!-- "heroe" es la variable que estoy creando en el for -->
  <!-- con esto envio informacion al hijo con @Input -->
  <app-heroe-tarjeta [heroe]="heroe" [indice]="heroe.idx" *ngFor="let heroe of heroes">
  </app-heroe-tarjeta>

</div>
